<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Python Project - VollebayPlayers</title>
    <!-- main css -->
    <link rel="stylesheet" href="{{url_for('static',filename='main.css')}}">
    <!-- bootstrap css -->
    <link rel="stylesheet" href="{{url_for('static',filename='bootstrap.min.css')}}">
    <!-- google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Outfit&family=Roboto:wght@300&display=swap" rel="stylesheet">
<!-- fontawesome -->
</head>
<body>
   <div class="logo">
    <h1>Siatkownik </h1>
    <p>Wyszukaj, zobacz, dowiedz się - o twoim siatkarzu</p>
   </div>
<section class="about">
<!-- about section-->
<h1>Wyszukiwanie zawodników</h1>
    <form method="POST" action="/">
        <input type="text" name="tekst" placeholder="Wpisz tekst">
        <input type="submit" value="Szukaj">
    </form>
    <img src="../static/assets/simplistic-man-programmer-having-online-meeting.png" alt="search_query_man">
</section>
<footer>
    Projekt wykonali:
    <strong>Szymon Szpytma</strong>
    <strong>Julia Wandas</strong>
    <strong>Karol Wrona</strong>
</footer>
    <script src="{{url_for('static',filename='index.js')}}"></script>
    <script src="{{url_for('static',filename='bootstrap.bundle.min.js')}}"></script>
    
</body>
</html>